@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AppBar />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <MudContainer>
            @Body
        </MudContainer>
    </main>
    <footer class="footer fixed-bottom footer-bgfoto">
        <div class="container">
            <div class="row mt-2">
                <div class="col-6">
                    <p class="text-left">Лаборатория ИОТ &copy; 2019</p>
                </div>
                <div class="col-6">
                    <p class="text-right">v. </p>
                </div>
            </div>
        </div>
    </footer>
</div>
