@inject IAppVersionService AppVersionService
@inject HttpClient httpClient
<!-- Sidebar -->
<div id="sidebar">

    <div class="inner">

        <!-- Search Box -->
        <section id="search" class="alt">
            <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
            </form>
        </section>

        <!-- Menu -->
        @if (sitePages is null)
        {
            <MudProgressCircular Indeterminate="true"></MudProgressCircular>
        }
        else
        {
            <nav id="menu">
                <ul>
                    @foreach (var sitePage in sitePages)
                    {
                        <li><a href="@sitePage.Url">@sitePage.Name</a></li>
                    }
                </ul>
            </nav>
        }

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                Лаборатория ИОТ &copy; 2021
                <br> v @AppVersionService.Version
            </p>
        </footer>

    </div>
</div>

@code {

    private List<SitePage> sitePages = null;

    protected override async Task OnInitializedAsync()
    {
        sitePages = await httpClient.GetFromJsonAsync<List<SitePage>>("api/sitepage/all");

    }
}
