@inject HttpClient httpClient

<MudNavMenu>
    <MudText Typo="Typo.h6" Class="px-4">Эдутон 2021</MudText>
    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Петрозаводское ПКУ</MudText>
    <MudDivider Class="my-2" />
    @if (sitePages is null)
        {
    <span> Loading...</span>
        }
        else
        {
    @foreach (var sitePage in sitePages)
            {
    <MudNavLink Href="@($"/sitepage/{sitePage.Url}")">@sitePage.Name</MudNavLink>
            }
        }
</MudNavMenu>

@code {

    private List<SitePage> sitePages = null;

    protected override async Task OnInitializedAsync()
    {
        sitePages = await httpClient.GetFromJsonAsync<List<SitePage>>("/api/sitepage/all");

    }
}
