@page "/pdf"

<h1>Файлы</h1>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>название</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th><a href="upload/pismo.pdf">Письмо</a></th>
        </tr>
        <tr>
            <th>2</th>
            <th><a href="upload/reglament.pdf">Регламент</a></th>
        </tr>
    </tbody>
</table>
