@page "/{url}"

@inject HttpClient httpClient

@if (sitePage is not null)
{
    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>@sitePage.Name</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->
    <section class="simple-post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">                  
                    <div class="down-content">
                        @((MarkupString)sitePage.Content)
                    </div>
                </div>
            </div>
        </div>
    </section>  
}
else
{
    <MudProgressCircular Indeterminate="true"></MudProgressCircular>
}

@code {
    [Parameter]
    public string Url { get; set; }

    SitePage sitePage;

    protected override async Task OnParametersSetAsync()
    {
        sitePage = await httpClient.GetFromJsonAsync<SitePage>($"api/sitepage/{Url}");

    }
}
