<h3>PageEditor</h3>

<EditForm Model="@editorOptions">
<CKEditor Id="MyEditor1"
          @bind-Value=@editorOptions.InitialText
          UrlToPostImage=@uploadUrl>
</CKEditor>
</EditForm>

@code {
    EdutonPetrpku.Shared.Page editorOptions;
    string uploadUrl;

    protected override async Task OnInitializedAsync()
    {
        var builder = WebAssemblyHostBuilder.CreateDefault();
        uploadUrl = $@"{builder.HostEnvironment.BaseAddress}api/file/upload";

        editorOptions = new EdutonPetrpku.Shared.Page();
        editorOptions.InitialText = "Welcome to Qaiser Mehmood github editor5-blazor app";
        var txt = await Task.Run(() => 1);
    }
}